<div class="centered">
  <div class="state">
    <h1><%= @moods_hash['happy'] %></h1>
    <i id="happy" class="icon-smile"></i>
  </div>
  <div class="state">
    <h1><%= @moods_hash['indifferent'] %></h1>
    <i id="indifferent" class="icon-meh"></i>
  </div>
  <div class="state">
    <h1><%= @moods_hash['sad'] %></h1>
    <i id="sad" class="icon-frown"></i>
  </div>
</div>