// Place all the styles related to the mood controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1.mood_question{
  margin-right:1em;
}

a.state, div.state{
	margin-right:1em;
  float:left;
  text-decoration:none;
}

.edit_mood textarea {
  width: 45%;
}

.centered {
  width:30em;
  height:20em;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding-left:1em;
 }

.notes td.icon {
  text-align:center;
}

.charts {
  width:700px;
  height:500px;
}

#chart_container{
  margin:auto;
  width:700px;
  height:300px;
}

#chart_controls{
  margin-top:20px;
  font-weight:bold;
}

#chart_controls input {
margin-right:10px;
}

#notes_table{
  max-width:500px;
  margin:auto;
  margin-bottom:50px;
}

#notes_table td {
  vertical-align:middle;
}

#notes_table td.date {
  text-align:center;
}